{% extends '7_base.html' %}

{% block tittle %}

About

{%endblock%}



{% block content %}
{% load static %}
<h6>About Us </h6>
<div class="container">
    <img src="{% static '/images/download.jpg'%}" class="d-block w-100" alt="">

</div>
<div class="container ">
    <div class="row">
        <div class="col-md-4 bg-light py-5">
            <h1>
                When you need answers, you know where to go.
            </h1>
        </div>
        <div class="col-md-8 py-5">
            <p >
    Welcome to City Hospital, where compassionate care and cutting-edge medical expertise converge to create a healthcare experience like no other. 
    Established in 2000, City Hospital has been serving the Thrissur community and beyond with unwavering dedication to your health and well-being.
            </p>
        </div>
    </div>
</div>
<div class="custom-height">

</div>
<div class="container custom-container">
    <div class="row">
        <div class="col-md-4">
            <h3>Our Mission</h3>
                <p>
            At City Hospital, our mission is simple but profound: to provide exceptional medical care to our patients, 
            embracing the values of integrity, compassion, and innovation. We are committed to promoting a healthier,
            happier community by delivering the highest standard of healthcare services.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Our Philosophy</h3>
                <p>
            At the heart of our mission lies the belief that exceptional healthcare should be accessible to everyone.
            We aim to create a warm and supportive healing environment where every patient feels heard, respected,
            and treated with compassionate care.
                </p>
        </div>
        <div class="col-md-4">
            <h3>Our Vision</h3>
                <p>
            To provide healthcare of the highest quality to all in a spirit of compassion and continually improve
            the standard of care provided to the community through the promotion of value-based quality education 
            and research.
                </p>
        </div>
    </div>
</div>


{%endblock%}
