{% extends '7_base.html' %}

{% block tittle %}
Contact
{%endblock%}


{% block content %}
<div class="container bg-light py-5">
    <h1 class="text-center">Whether you are here, everywhere</h1>
    <hr>
    <div>
        <h3 class="text-center">Emergency</h3>
        <h5 class="text-center">0484 668 1234, <br>0484 285 1234</h5>
    </div>
    <hr>
    <div>
        <h3 class="text-center">International Clients</h3>
        <h5 class="text-center">+91 484 668 1234,<br>+91 484 285 1234 </h5>
        <h5 class="text-center">internationalmarketing@aims.city.edu</h5>
    </div>
    <hr>
    <div>
        <h3 class="text-center">Appointment</h3>
        <h5 class="text-center">+91 484 668 1234,<br>+91 484 285 1234 </h5>
        <h5 class="text-center">appointments@aims.city.edu</h5>
    </div>
</div>
{%endblock%}
